*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --cursive-font: "Barriecito", cursive;
  --mono-font: "Fira Mono", monospace;
}
html,
body {
  height: 100%;
}
html {
  font-size: 10px;
}
body {
  background-color: #f5f3f3;
  font-family: var(--mono-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
.title {
  font-family: var(--cursive-font);
  font-size: 4rem;
  text-shadow: -2px 2px #fff, -4px 4px #b9f1ba;
}
.subtitle,
.favorite {
  text-shadow: -1px 1px #fff, -2px 2px #d884e6;
  letter-spacing: 1.5px;
  font-size: 2.5rem;
}
.content {
  font-weight: 500;
}
.episodes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem 2rem;
  padding: 1rem 0;
}

@media (max-width: 50em) {
  .episodes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 37.5em) {
  .episodes {
    grid-template-columns: 1fr;
  }
}
